@import "tailwindcss";

@theme {
  --color-verde-principal: #0e3d10;
  --color-verde-claro: #ecfdf5;
  --color-destaque-fundo: #fffbeb;
  --color-destaque-borda: #fde68a;
  --color-destaque-texto: #d97706;
  --color-vermelho-emergencia: #dc2626;
  --color-vermelho-principal: #780f0f;
}
