@import "tailwindcss";

@theme {
  --color-verde-principal: #0e3d10;
  --color-verde-claro: #44dbab;
  --color-verde-fundo: #fafefced;
  --color-cinza-borda: #b6c2d2;
  --color-vermelho-bordaa: #462a2a;
  --color-pesquisa-fundo: #dbdfe2ad;
  --color-letra: #364a37;
  --color-destaque-fundo: #fffbeb;
  --color-destaque-borda: #fde68a;
  --color-destaque-texto: #d97706;
  --color-vermelho-emergencia: #dc2626;
  --color-vermelho-principal: #780f0f;
  
}
